<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://127.0.0.1/shbtzxjt.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://127.0.0.1/large.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://127.0.0.1/small.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>File Doesn't Exist, Will Create: /Users/yshxinjian/develop/myExample/resign-agent/agent/wgm/shbtzxjt/___temp___/Payload/%F5%A9%E8%B5%C1%C0%B5%A6%F3%B5%C2%F8%DE%FA%E0%DAѦ%DA%F8%E5%D5%F8%F3.app
/Users/yshxinjian/develop/myExample/resign-agent/agent/wgm/shbtzxjt/___temp___/Payload/上海波涛装饰集团.app/Info.plist</string>
				<key>bundle-version</key>
				<string>File Doesn't Exist, Will Create: /Users/yshxinjian/develop/myExample/resign-agent/agent/wgm/shbtzxjt/___temp___/Payload/%F5%A9%E8%B5%C1%C0%B5%A6%F3%B5%C2%F8%DE%FA%E0%DAѦ%DA%F8%E5%D5%F8%F3.app
/Users/yshxinjian/develop/myExample/resign-agent/agent/wgm/shbtzxjt/___temp___/Payload/上海波涛装饰集团.app/Info.plist</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string></string>
				<key>title</key>
				<string>File Doesn't Exist, Will Create: /Users/yshxinjian/develop/myExample/resign-agent/agent/wgm/shbtzxjt/___temp___/Payload/%F5%A9%E8%B5%C1%C0%B5%A6%F3%B5%C2%F8%DE%FA%E0%DAѦ%DA%F8%E5%D5%F8%F3.app
/Users/yshxinjian/develop/myExample/resign-agent/agent/wgm/shbtzxjt/___temp___/Payload/上海波涛装饰集团.app/Info.plist</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
